/* Globales */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}
:root {
  --color-primario: #ff0000;
  --color-secundario: black;
  --fuente-serif: Georgia, "Times New Roman", Times, serif;
  --fuente-sans-serif: Arial, Helvetica, sans-serif;
}
html {
  font-family: var(--fuente-sans-serif);
  margin: 0 ;
  padding:0;
}

h2{
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 600 !important;
  line-height: normal;
  color: black;
}
/* Clases de utilidad */
.primario {
  border: solid 1px rgb(245, 243, 242);
  background-color: rgb(224, 110, 33);
  color: var(--color-secundario);
}

/* Tipografía */
.elegidos,
.vuelos,
.nacional,
.somos {
  font-family: var(--fuente-serif);
}

.parrafo,
.frecuentes .info p {
  font-family: var(--fuente-sans-serif);
}

h1 {
  font-family: var(--fuente-sans-serif);
  font-style: oblique;
}

/* Colores */
.site-footer {
  background-color: #333;
  color: #fff;
  margin-top: 0.8em;
}

/* .title-grid {
  background-color: rgb(99, 107, 143);
  color: rgb(22, 16, 16);
} */

.contact {
  color: orange;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.884);
}

/* Secciones */
.elegidos, .vuelos {
  margin: 0;
  padding: 0;
  border: solid 1px rgb(245, 243, 242);
  background-color: rgb(224, 110, 33);
  color: var(--color-secundario);
  padding: 12px;
  font-size: 21px;
  width: 100%;
  height: auto; /* Cambié la altura a 'auto' para que se ajuste al contenido */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centré el contenido en el eje horizontal */
}
.mas-elegidos, .search-flight {
  color: black; /* Cambié el color a blanco para mayor contraste */
  font-size: 2.5rem; /* Ajusté el tamaño de la fuente */
  text-align: center; /* Centré el texto */
  margin-top: 1rem; /* Ajusté el margen superior */
  font-weight: bold;
}
@media (max-width: 768px) {
  .mas-elegidos, .search-flight {
    font-size: 2rem; /* Ajusté el tamaño de la fuente para pantallas más pequeñas */
  }
}

/* .nacional {
  border: solid 1px rgb(245, 243, 242);
  background-color: rgb(224, 110, 33);
  color: var(--color-secundario);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  height: 28px;
  margin-top: 90px;
} */

.somos {
  border: solid 1px rgb(245, 243, 242);
  background-color: rgb(224, 110, 33);
  color: var(--color-secundario);
  padding: 10px;
  text-align: left;
  font-size: 13px;
  width: 600px;
  height: 30px;
  margin-left: 700px;
  margin-top: 45px;
}



.site-footer {
  background-color: #333; /* Cambia el color de fondo según tu diseño */
  color: #fff; /* Cambia el color de texto según tu diseño */
  padding: 5px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.8em;  
  }
.footer-container p{
  margin: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  width: 300px;
  height: auto;
  margin: 10px;
  max-width: 100%; /* Ajusta el tamaño máximo al ancho del contenedor */
}

/* Opcional: Estilo adicional para hacer que las imágenes sean más atractivas */
.image-container img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* ---------------------------------- */
      /* Pagina 2 -> Vuelos */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.origen,
.destino,
.ida,
.vuelta,
.cantidad,
#select {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc; /* Agregamos un borde a los elementos del formulario */
  border-radius: 10px;
  padding: 8px; /* Añadimos un poco de espacio interno para mejorar la apariencia */
}

#select {
  margin-top: 20px;
}

@media (min-width: 768px) {
  form {
    max-width: 600px;
  }

  .origen,
  .destino,
  .ida,
  .vuelta,
  .cantidad {
    width: calc(50% - 20px);
  }

  #select {
    width: 100%;
    max-width: initial;
  }
}

/* ------------------------------------ */


.avion {
  text-align: center;
  background-color: lightblue;
}

.select {
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgb(245, 224, 118);
}

.h3 {
  margin-top: 80px;
  font-size: 23px;
  color: darkslategrey;
}

.col {
  margin-top: 20px;
}

.card, .cardgrupo {
  background-color: rgb(160, 196, 212);
  height: 430px;
  width: 350px;
}

.card h5, .cardgrupo h5 {
  color: forestgreen;
}

.card p, .cardgrupo p {
  color: rgb(22, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.cardgrupo {
  border: soild black;
  margin: 5px;
}



.parrafo {
  border: solid 1px white;
  width: 400px;
  height: 300px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 750px;
  margin-top: 15px;
  color: black;
}

.contact {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 800px;
  margin-top: 1px;
  color: orange;
}

.nombre {
  height: 20px;
  margin-left: 830px;
  margin-top: 10px;
  background-color: rgb(255, 254, 253);
}

.e-mail {
  height: 20px;
  margin-left: 830px;
  margin-top: 10px;
  background-color: rgb(255, 254, 252);
}

.mensaje {
  margin-left: 830px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.frecuentes {
  background-image: url(../assets/fondojpg.jpg);
  max-width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.frecuentes .info {
  grid-column: 8/12;
  grid-row: 3/10;
}

.frecuentes .info p {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  color: rgb(5, 3, 3);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.usuario {
  margin-left: 500px;
  margin-top: 50px;
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border-color: aquamarine;
  box-shadow: 0px 10px 20px black;
}

.contrasena {
  margin-left: 500px;
  margin-top: 50px;
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border-color: aquamarine;
  box-shadow: 0px 10px 20px black;
}

footer {
  position: relative;
  margin-top: -10px;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background-color: rgba(0, 0, 0, 0.884);
}

footer p {
  text-align: center;
  color: antiquewhite;
}

/* ---------------------GRID----------------------- */
.image-section {
  text-align: center;
  /* */
}

.favorite-places, .nacional, .promo-2x1 {
  height: 3em;
  padding-top: 1em;
  background-color: rgb(99, 107, 143);
  justify-content: center;
  text-align: center;
  font-size: 2em !important; 
  margin-top: 1.2rem; /* Ajusté el margen superior */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 1em;
 }

.grid-container div {
  overflow: hidden;
}

.grid-container img {
  width: 100%;
  height: 10em;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.grid-container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* --------------------PAQUETES------------------------- */
.container-promos {
  margin-top: 2em !important;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.row {
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}

.btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
}

/* Carousel */
/* Centrar las tarjetas dentro del carrusel */
.carousel-item {
  text-align: center;
}

/* Ajustar el tamaño de las imágenes en pantallas pequeñas */
@media (max-width: 767px) {
  .carousel-item img {
    width: 100%;
    height: auto;
  }
}

.card-body{
  padding: 0;
}


/* ---------------------------------------------------------------- */
/* @media screen and (min-width: 280px) and (max-width: 550px) {
  .elegidos {
    border: solid 1px rgb(245, 243, 242);
    text-align: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 50px;
    color: rgb(253, 251, 247);
    width: 450px;
    margin-left: 8px;
    background-color: rgb(224, 110, 33);
  }
  .frecuentes {
    background-image: url(../assets/fondojpg.jpg);
    width: 100%;
    height: 100%;
  }
  .title-grid {
    text-align: center;
    font-size: 21px;
    font-family: "Times New Roman", Times, serif;
    width: 450px;
    height: 30px;
    margin-left: 8px;
    margin-top: 50px;
    background-color: rgb(99, 107, 143);
    color: rgb(22, 16, 16);
  }
  .grid-container {
    margin-top: -1px;
    width: 100%;
    max-width: 1000px;
    margin-left: 8px;
    line-height: 50px;
  }
  .vuelos {
    border: solid 1px rgb(245, 243, 242);
    padding: 10px;
    text-align: left;
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 35px;
    margin-top: 15px;
    color: rgb(253, 251, 247);
    width: 450px;
    margin-left: 8px;
    background-color: rgb(224, 110, 33);
  }
}
@media screen and (min-width: 550px) and (max-width: 1025px) {
  .elegidos {
    border: solid 1px rgb(245, 243, 242);
    text-align: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 50px;
    color: rgb(253, 251, 247);
    background-color: rgb(224, 110, 33);
    width: 650px;
    margin-left: 10px;
  }
  .title-grid {
    text-align: center;
    font-size: 21px;
    font-family: "Times New Roman", Times, serif;
    height: 30px;
    margin-top: 50px;
    color: rgb(22, 16, 16);
    background-color: rgb(99, 107, 143);
    width: 600px;
    margin-left: 10px;
  }
  .grid-container {
    margin-top: -1px;
    width: 100%;
    max-width: 1000px;
    margin-left: 8px;
    line-height: 50px;
  }
  .vuelos {
    border: solid 1px rgb(245, 243, 242);
    padding: 10px;
    text-align: left;
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 35px;
    margin-top: 15px;
    color: rgb(253, 251, 247);
    background-color: rgb(224, 110, 33);
    width: 650px;
    margin-left: 10px;
  }
} */

/*# sourceMappingURL=style.css.map */
